@page "/"

<PageTitle>YACP</PageTitle>

<h1>Yet Another Content Patcher</h1>

Yet Another Content Patcher is a framework that allows creating Content Patcher content packs using human-friendly YAML instead of JSON.

<NavLink class="nav-link" href="converter">Convert Content Patcher JSON to YAML</NavLink>
